<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
    <nav class="navbar navbar-inverse navbar-fixed-top " style="background-color:#337ab7 !important">

        <div class="navbar-header">
          <a class="navbar-brand logo" style="margin-left:20px; font-size:150%; color:white;"href="/">{{ title }}</a>

        </div>
        <div class="nav-search">

      </div>
    </nav>

  </div>
  <br>
  <br>
  <br>
  <hero-search></hero-search>

<div class="container">
<router-outlet></router-outlet>
</div>



