.search-result{
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width:500px;
  height: 30px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  margin-left:350px;
}

.search-result:hover {
  color: #eee;
  background-color: #607D8B;
}

#search-box{
  margin-top:15px;
  width: 500px;
  height: 37px;
  margin-left: 350px;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 445px;
margin-top: 15px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
